---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Contacto">
  <Navbar />

  <main class="py-20 text-center">
    <h1 class="text-3xl font-semibold">Contacto</h1>
  </main>

  <Footer />
</BaseLayout>