<footer class="mt-10 py-10 text-center text-sm text-gray-500">
      <p class="mb-4">
      Estructura con alma. Estrategia con sensibilidad. Diseño con propósito. Comunicación con verdad.
    </p>
    <p>
      hola.animaestudio@gmail.com · @animaestudio.creativo
    </p>
  <p>© {new Date().getFullYear()} Ánima</p>
</footer>